/pratica1/Exercicio4/Aula03v2/build/
/pratica1/Exercicio4/Aula03v2/nbproject/private/
/pratica1/Exercicio4/Aula03v2/dist/
/pratica2/ex1/Concessionaria/nbproject/private/
/pratica2/ex1/Concessionaria/build/
/pratica2/ex2/TesteHerança/nbproject/private/
/pratica2/ex2/TesteHeranca/nbproject/private/
/pratica2/ex3/TesteHeranca2/nbproject/private/